.upload {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    background: var(--lightGray-color);
}

.uploadButton > button {
    background: var(--secondary-color);
    color: white;
}

.uploadButton > button:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.downloadButton > button {
    background: var(--secondary-color);
    color: white;
}

.downloadButton > button:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.imgDiv {
    padding-bottom: 10rem;
}

.uploadButtons {
    padding-top: 4rem;
}

.imgDiv > img {
    min-height: 500px;
    max-height: 900px;

    aspect-ratio: 1.44px;
}