.upload {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    background: var(--lightGray-color);
}

.uploadButton > button {
    background: var(--secondary-color);
    color: white;
}

.uploadButton > button:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}